<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carldemo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivty"
            android:configChanges="keyboard|keyboardHidden|orientation|locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".audioplayer.AudioListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|locale"
            android:label="@string/title_audioplayer"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="carl.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".audioplayer.AudioDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|locale"
            android:label="@string/title_audioplayer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pickerview.PickerViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|locale"
            android:label="@string/title_pickerview"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="carl.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".circledial.CircleActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|locale"
            android:label="@string/title_circledial"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="carl.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".circledial.DialActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|locale"
            android:label="DialActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="carl.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bitmapmanager.BitmapManagerTestActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|locale"
            android:label="BitmapManagerTestActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="carl.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.TestViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|locale"
            android:label="TestViewActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="carl.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|locale"
            android:label="test"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="carl.intent.category.SAMPLE_CODE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".opengl.OpenglTest1"
            android:configChanges="keyboard|keyboardHidden|orientation|locale"
            android:label="OpenglTest1"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="carl.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".opengl.OpenGlTest2"
            android:configChanges="keyboard|keyboardHidden|orientation|locale"
            android:label="OpenglTest2"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="carl.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".opengl.AirHockeyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|locale"
            android:label="AirHockey"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="carl.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".camera.CameraActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|locale"
            android:label="Camera"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="carl.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gallery3d.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="carl.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.BitmapBlurActivity"
            android:label="@string/title_activity_bitmap_blur">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="carl.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mdns.MDNSActivity"
            android:label="@string/title_activity_mdns">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="carl.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".draw.DrawActivity"
            android:label="Draw">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="carl.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>
        <activity android:name=".MediaCodecActivity"
            android:label="MediaCodec">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="carl.intent.category.SAMPLE_CODE"/>
            </intent-filter>
        </activity>

        <receiver android:name=".StaticReceiver">
            <intent-filter>
                <action android:name="com.carl.static"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>